
/* MOBILE*/
@media(max-width:768px){
  
    /* #entire_background {
        padding: 20px;
    } */
    
    header {
        display:flex;/*by default it is row wise i changed to column*/
        flex-direction: column;
        text-align: center;
        padding: 15px;
    }

    header h1 {
        font-size: 24px;
    }

    header nav a {
        float:none;/*moved to left default position*/
        display:block;/*To take entire width*/
        padding: 8px;
        font-size: 16px;
    }

    #banner>h1 {
        font-size: 30px;
    }

    #banner>p {
       
        font-size: 14px;
    }

    #sect2 {
        flex-direction: column;
        padding:20px;
    }

    #sect2 > div {
        margin: 10px 0;
    }

    #middle>h1 {
        font-size: 30px;
    }

    #sect3 {
        flex-direction: column;
        padding: 20px;
    }

    #sect3 > div {
        margin: 10px 0;
    }

    footer {
        text-align: center;
    }

    #down {
        text-align: center;
    }

    #down>span {
        display: inline-block;
        padding-right: 5px;
        font-size: 14px;
    }
}
    
   

/*TABLET*/
@media (min-width:769px) and (max-width:1024px) {
    #entire_background {
        padding: 50px;
    }

    header {
        flex-direction: column;
        padding: 20px;
    }

    header nav a {
        padding: 10px;
        font-size: 18px;
    }

    #banner>h1 {
        font-size: 40px;
        padding-right: 50px;
    }

    #sect2 {
        flex-direction: column;
        padding: 30px;
    }

    #sect2 > div {
        margin: 10px 0;
    }

    #middle>h1 {
        font-size: 40px;
    }

    #sect3 {
        flex-direction: column;
        padding: 30px;
    }

    #sect3 > div {
        margin: 10px 0;
    }

    #last {
        flex-direction: column;
        padding: 30px;
    }

    #down>span {
        display: inline-block;
        padding-right: 10px;
    }
}
