*{
    padding:0%;
    margin:0%;
}
#entire_background{
    background-color:grey;
    padding:100px
}
header{
    background-color:orange;
    display:flex;
    justify-content:space-between;
    align-items:center;/*to align the flex content center we write this*/
    padding:30px;
    border-top-left-radius:40px;
    border-top-right-radius:40px;
   
}
   
a{
    text-decoration:none;
    color:white;
    padding:20px;
}
a[href="products"]{
    background-color: black;
    color:orange
}
header>div>h1>span{
    color:white;
}
#banner{
    background-color:#191717;
    text-align:right;
    padding:30px;
    
}
#banner>h1{
    color:white;
    font-size: 60px;
    padding-right:100px;
    padding:20px;
}
#banner>h1>span{
    color:orange;
    font-size: 40px;
    padding-right:30px;
}
#banner>p{
    color:orange;
    padding-right:22px;
}
#sect2{
    display:grid;
    grid-template-rows: auto;
    grid-template-columns:repeat(3,1fr);
    /* justify-content:space-around;
    align-items: center; */
    padding:50px;
    background-color:orange;
}
#b1{
    /* align-self: flex-start; */
    
}
#b2{
    /* align-self:center; */
}
#b3{
   
    /* align-self: flex-end; */
    
}
#sect2>div>h2{
    text-indent:20px;
}

#sect2>div>p>span{
    color:white;
}
#more{
    background-color: white;
    padding:5px;
}
#btn{
    color:orange;
    padding:5px;
    width:60px;
    background-color: white;
}
#middle>h1{
    color:orange;
    padding:10px;
    font-size:60px;
    background-color: white;
}
#middle>h1>span{
    color:Black;
}
#sect3{
    background-color: white;
    display:grid;
    grid-template-rows: auto;
    grid-template-columns:repeat(3,1fr);
    /* display:flex;
    justify-content:space-around;
    align-items: center; */
    padding:50px;
}
#sect3>div>h2,span{
    color:orange
}
#sect3 button{
    color:white;
    background-color: orange;
}

    

#sect3>div>h2{
    padding:10px;
}
footer{
    color:orange;
}
#down>span{
    justify-content: space-around;
    padding-right:20px;
    background-color: white;
    color:grey;
}
#down>span>#pr{
    color: orange;
}
#last{
    background-color: white;
    padding:40px;
    border-radius:3px;
    border-bottom-left-radius:40px;
    border-bottom-right-radius:40px;
}